Terraform/docker-compose/.terraform/providers/registry.terraform.io/hashicorp/aws/5.43.0/windows_386/terraform-provider-aws_v5.43.0_x5.exe
Terraform/New job-applicationEC2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.43.0/windows_386/terraform-provider-aws_v5.43.0_x5.exe
jobApplicationDockerized-TestBuild.pem
jobApplicationDockerized_StableBuild.pem
Terraform/Create jobApplicationDockerized_TestEC2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.43.0/windows_386/terraform-provider-aws_v5.43.0_x5.exe
